<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DemoVS4.Core.Properties.Settings.testConnectionString"
            connectionString="Data Source=TIA2-PC\SQLSERVER;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DemoVS4.Core.Properties.Settings.testConnectionString1"
            connectionString="Data Source=VINT5-PC;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>